<body>

    <div align="center">
        <h1>About Us</h1>
        <p>Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies.
            Our customers are able to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.
        </p>
        <div class="card">
            Core engineering company with a culture of constant innovation with outstanding track record.
        </div>
        <div class="card">
            Commitment to quality with ISO 9001:2015 and ISO 13485:2016 certifications.
    </div>
    <div style="height: 100px;"></div>
    <div class="card2">Proven engineering experience in Enterprise Applications, Product Engineering, 
        Embedded systems and Solutions based on New-Gen technologies – Cloud, Mobile, 
        AI & ML, Industrial IoT, CV, and AR.
    </div>
    <div class="card2">
        Flexible engagement models and willingness to invest in long term partnerships.
    </div>
    </div>
</body>