<body>
    <div class="banner">
        <div style="height: 400px;"></div>
        <div class="platform">Services</div>
    </div>

    <div align="center">
        <div style="height: 100px ;"></div>
        <div class="card">
            <img src="../../assets/iot.jpg" alt="" height="300px">
            <h3>Industrial IoT</h3>
            <p>
                Industry 4.0 refers to the 4th industrial revolution realized by 
                applying the latest technologies to core production systems and 
                business processes such as supply, delivery and many more. 
                Manufacturers can future-proof their operations by redefining the 
                creation and capturing of value across their production facilities 
                through the application of technologies such as sensors, IoT, cloud 
                and AI & ML.</p>
        </div>
        <div class="card">
            <img src="../../assets/product.jpg" alt="" height="300px">
            <h3>Product Development</h3>
            <p>
                Product development is all about strategy. We collaborate from the 
                beginning to identify opportunities and develop concepts, helping to 
                shape your strategy. We enable you by determining the right-sized 
                delivery strategy so that you can quickly obtain customer feedback. 
                Our experienced product development team is ready to partner closely 
                to successfully define, build, and evolve compelling and high-performing 
                products.
        </p>
        </div>
    </div>
</body>