
<body>
    <div align="center">
        <div class="sizedbox"></div>
        <div class="contact_heading">
            Connect with us
        </div>
        <div style="height: 20px;"></div>
        <div>
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Email">
        </div>
        <div style="height: 20px;"></div>
        <div>
            <input type="text" placeholder="Location">
            <input type="text" placeholder="Mobile Number">
        </div>
        <div style="height: 20px;"></div>
        <input type="text" placeholder="Message" style="width: 55%;height: 80px;">
    </div>
    <button>Submit</button>
</body>
