<body>
    <div class="banner">
        <div style="height: 400px;"></div>
        <div class="platform">Platforms</div>
    </div>

    <div align="center">
        <div style="height: 100px ;"></div>
        <div class="card">
            <img src="../../assets/delpheon.jpg" alt="" height="300px">
            <h3>Delpheon</h3>
            <p>
            Delpheon is a rapid Industrial IoT (IIoT) platform that enables data collection & harmonisation, 
            server connectivity – Kafka, IoT Hub, MQTT, data storage, 
            analytics & visualisation. It can support up to 1M data points per day, 
            security & access control, event detection & alarm handling, integration with 
            enterprise applications, and rapid application deployment.</p>
        </div>
        <div class="card">
            <img src="../../assets/delpheon-io-module.jpg" alt="" height="300px">
            <h3>Delpheon-IO Module</h3>
            <p>
            Delpheon - IO Module Is used to instrument legacy equipment on a factory floor for remote monitoring and control. 
            Equipped with analog inputs, digital I/O and relay outputs which can be connected to sensors and actuators.
        </p>
        </div>
    </div>
</body>