<body>
    <div class="banner">
        <div style="height: 400px;"></div>
        <div class="industry">Industries</div>
    </div>

    <div align="center">
        <div style="height: 100px ;"></div>
        <div class="card">
            <img src="../../assets/delpheon-health.jpg" alt="" height="300px">
            <h3>Digital Healthcare</h3>
            <p>
                We do the development and maintenance of custom healthcare applications, 
                including but not limited to wearable medical devices, mHealth applications, 
                HIPAA compliant Medical platforms, Interoperability solutions, EMR/EHR cloud 
                integration, and embedded medical devices & systems.</p>
        </div>
        <div class="card">
            <img src="../../assets//connected-factories.jpg" alt="" height="300px">
            <h3>Connected Factories</h3>
            <p>
                Creating value through smart connected manufacturing involves establishing 
                ecosystems of connected products and services to transform operations, 
                value chains and customer experience. This typically means modernizing and 
                extending the digital platform to facilitate collaboration with internal and 
                external partners, suppliers, customers and other entities in the ecosystem and 
                automating processes. Our Industrial IoT consultancy and Industry 4.0 readiness 
                assessment helps in creating a detailed roadmap for your industry 4.0 journey.
        </p>
        </div>
    </div>
</body>