

<body>
  <div>
    <div align="center">
      <div style="height: 70px; ;"></div>
  <img src="../../assets/home.png" alt="" height="600px;" width="70%">
</div></div>
  <!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->
  </body>
<!-- <img src="../../assets/gitex-new.jpg" alt="" width="100%"> -->
  